<!-- <img src=".\assets\img\KITT.png" style="position: absolute; bottom: 2em;"> -->
<app-analog-meter [WIDTH]="500" [dataIn]="deg" [top]="0" [right]="0" *ngIf="false">
</app-analog-meter>

<app-digital-meter [dataIn]="kmH">

</app-digital-meter>


<ion-select #selectRef mode="md" interface="action-sheet" style="display:none" (ionChange)="onChangeVoice($event)"
  placeholder="Idioma" okText="Ok" cancelText="Cancelar" [(ngModel)]="selectedVoice" [value]="selectedVoice">
  <ion-select-option [value]="voice.name" *ngFor="let voice of voices">{{voice.name}}</ion-select-option>
</ion-select>

<ion-button fill="clear" class="btn-select" color="warning" (click)="onClickSelect()">
  <ion-icon name="settings-sharp"></ion-icon>
</ion-button>

<div class="kitt-container">
  <div id="side-btns">
    <ion-button color="warning">AIR</ion-button>
    <ion-button color="warning">OIL</ion-button>
    <ion-button [ngStyle]="{'opacity': kmH > 30 && kmH <50?  '100%': '40%'}" color="danger">
      P1
    </ion-button>
    <ion-button [ngStyle]="{'opacity': kmH > 50 && kmH <90?  '100%': '40%'}" color="danger">
      P2
    </ion-button>
  </div>
  <div id="center-btns">
    <div>
      <div id="side-leds">
        <div *ngFor="let item of [8,7,6,5,4,3,2,1,2,3,4,5,6,7,8]" [ngStyle]="{
            'background': x / factorLed >= item? 'var(--ion-color-danger)':'var(--ion-color-medium)',
            'opacity': x / factorLed >= item? 33 * (x - item + 1)  + '%':'100%'}">
        </div>
      </div>
      <div id="center-leds">
        <div *ngFor="let item of [8,7,6,5,4,3,2,1,1,2,3,4,5,6,7,8]" [ngStyle]="{
          'background': z / factorLed  >= item? 'var(--ion-color-danger)':'var(--ion-color-medium)',
          'opacity': z / factorLed >= item? 33 * (z - item + 1)  + '%':'100%'}">
        </div>
      </div>
      <div id="side-leds">
        <div *ngFor="let item of [8,7,6,5,4,3,2,1,2,3,4,5,6,7,8]" [ngStyle]="{
          'background': y / factorLed  >= item? 'var(--ion-color-danger)':'var(--ion-color-medium)',
          'opacity': y / factorLed >= item? 33 * (y - item + 1)  + '%':'100%'}">
        </div>
      </div>
    </div>
    <ion-button color="warning" [ngStyle]="{'opacity': btnSelected ==='AUTOCRUISE'?  '100%': '40%'}"
      (click)="onClickBtn($event)">AUTO<br>CRUISE</ion-button>
    <ion-button color="danger" [ngStyle]="{'opacity': btnSelected ==='NORMALCRUISE'?  '100%': '40%'}"
      (click)="onClickBtn($event)">NORMAL<br>CRUISE</ion-button>
    <ion-button color="primary" [ngStyle]="{'opacity': btnSelected ==='PURSUIT'?  '100%': '40%'}"
      (click)="onClickBtn($event)">PURSUIT</ion-button>
  </div>
  <div id="side-btns">
    <ion-button color="warning">
      S1
    </ion-button>
    <ion-button color="danger">
      S2
    </ion-button>
    <ion-button [ngStyle]="{'opacity': kmH > 90  && kmH <120?  '100%': '40%'}" color="danger">
      P3
    </ion-button>
    <ion-button [ngStyle]="{'opacity': kmH > 120 ?  '100%': '40%'}" color="danger">
      P4
    </ion-button>
  </div>
</div>
